################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/LimestoneDigitalTask/.vs/config
/LimestoneDigitalTask/LimestoneDigitalTask/bin
/LimestoneDigitalTask/LimestoneDigitalTask/obj/Debug
/LimestoneDigitalTask/packages
/LimestoneDigitalTask/LimestoneDigitalTask/App_Data/Store.mdf
/LimestoneDigitalTask/LimestoneDigitalTask/App_Data/Store_log.ldf
